body {
    background-color: black;
    overflow-y: scroll;
}
#content {
    width: 35em;
    height: 30em;
    margin: 50px;
    background-color: white;
    border: 1px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:  15px;
}
#menubar {
    width: auto;
    background-color: #262626;
    text-align: right;
}
a, a:visited {
    text-decoration: none;
	text-align: right;
	line-height: 28px;
    color: white;
    padding-right: 15px;
}

a:hover {
    color: #00008b;
}